.fon_img_product_nav_1 {
	background-image: url('../images/product/single_thruster_2014.jpg');
}
.fon_img_product_nav_2 {
	background-image: url('../images/product/freestyle_wave_fsw.jpg');
}
.fon_img_product_nav_3 {
	background-image: url('../images/product/the_white_collection_surfboard_2014.jpg');
}
.fon_img_product_nav_4 {
	background-image: url('../images/product/og_scallop_solid.jpg');
}
.fon_img_product_nav_5 {
	background-image: url('../images/product/stripe_19_qs.JPG');
}
.fon_img_product_nav_6 {
	background-image: url('../images/product/yoke_19_qs.jpg');
}






.fon_img_product_nav_top1 {
	background-image: url('../images/product/ushingham.jpg');
}
.fon_img_product_nav_top2 {
	background-image: url('../images/product/cypher_heat_ves_m.jpg');
}
.fon_img_product_nav_top3 {
	background-image: url('../images/product/syncro_womens.jpg');
}







.fon_img_product_sale_1 {
	background-image: url('../images/product/syncro_mens_qs_m.jpg');
}
.fon_img_product_sale_2 {
	background-image: url('../images/product/ramos_-_shirt_for_men.jpg');
}
.fon_img_product_sale_3 {
	background-image: url('../images/product/sixsixone_evo_wired_full_face.jpg');
}