.test1 {
	background: #ff0000;
	opacity: 0.2;
	min-height: 300px;
}
.test2 {
	background: #4000ff;
	opacity: 0.2;
	min-height: 300px;
}
.test3 {
	background: #13ff00;
	opacity: 0.2;
	min-height: 300px;
}
.test4 {
	background:#96d899;
}
.test5 {
	background:#959ad9;
}